.page{
  display: flex;
  flex-direction: column;
  flex: 3;
}
nav{
  display: flex;
  flex-direction: column;
  clear: both;
  width: 100%;
}
#menu a{
  margin-right: 50px;
}
tr.colorr {
  background:white;
}
table{
  background: #D8BFD8;
  text-align: center;
}
#name{
  color: white;
}
header{
  background-color:#BA55D3;
  padding:10px;
}
body{
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fw-dog.ru%2Fwallpapers%2F12%2F11%2F481285377093631.jpg&f=1&nofb=1);
}
#divb{
  width: 100%;
  background-color:#DDA0DD;
  padding: 10px;
  height: 120px;  
}
#myimg{
  float: left;
  margin: 10px;
  width: 100px;
  height: 100px;
}
div.divg{
  width:100%;
  background-color:#E6E6FA;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
}
footer{
  color: #8B008B;
  background-color:#E6E6FA;
  margin:50px;
  padding:10px;
  max-width: 960px;
}
.page :nth-child(1){
  order: 1;
}
.page :nth-child(3){
  order: 2;
}

.page :nth-child(2){
  order: 3;
}
.page :nth-child(4){
  order: 4;
}

@media screen and (min-width: 800px) and (orientation: landscape) {
  header{
    background-color: #BA55D3;
    padding: 10px;  
  }
  div.divg{
    max-width: 960px;
    background-color: #E6E6FA;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
  }
  nav{
    text-align: right;
  }
  .page{
    max-width: 960px;
    background-color: #E6E6FA;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
  }
  .page :nth-child(2){
   order: 2;
  }
  .page :nth-child(3){
   order: 3;
  } 
  .form{
   width: 540px;
  }
}