tr.colorr {
  background:white;
}
table{
  background: #D8BFD8;
}
#name{
  color: white;
}
header{
  background-color:#BA55D3;
}
body{
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fw-dog.ru%2Fwallpapers%2F12%2F11%2F481285377093631.jpg&f=1&nofb=1);
}
.imgkubsu{
  width: 250px;
}
div.divg{
  background-color:#E6E6FA;
}
footer{
  color: #8B008B;
  background-color:#E6E6FA;
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  div.divg{
    width:70%;
  }
  .imgkubsu{
    width: auto;
  }
}
